backoff
huggingface-hub
Jinja2
joblib
multiprocess
ninja
numpy
openai
pillow
protobuf
pyarrow
rank-bm25
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
tiktoken
tokenizers
tqdm
transformers
vllm
litellm
ipdb
ipykernel
ipywidgets